<div>
  <hr class="kern-divider" aria-hidden="true" />
  <div class="mx-16 mb-24 rounded-sm px-12 py-12" data-pagefind-ignore>
    <p><b>Bisherige Ergebnisse</b></p>
    <div class="underline">
      <a
        href=""
        target="_blank"
        class="link-unstyled flex items-end gap-4 underline"
        >Problemstatement <span
          class="kern-icon kern-icon--open-in-new kern-icon--default"
          aria-hidden="true"></span>
      </a>
      <a href="" target="_blank" class="link-unstyled flex items-end gap-4"
        >Ursache-Wirkungsketten <span
          class="kern-icon kern-icon--open-in-new kern-icon--default"
          aria-hidden="true"></span>
      </a>
      <a href="" target="_blank" class="link-unstyled flex items-end gap-4"
        >Einbeziehungsplan externe Stakeholder <span
          class="kern-icon kern-icon--open-in-new kern-icon--default"
          aria-hidden="true"></span>
      </a>
      <a href="" target="_blank" class="link-unstyled flex items-end gap-4"
        >Hypothesen <span
          class="kern-icon kern-icon--open-in-new kern-icon--default"
          aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
