---
interface Props {
  title: string;
  editPath: string;
  items: { id: string; label: string }[];
}
const { title, editPath, items } = Astro.props;
---

<div class="kern-summary">
  <div class="kern-summary__header">
    <p class="kern-title">{title}</p>
  </div>
  <div class="kern-summary__body">
    <dl class="kern-description-list">
      {
        items.map(({ id, label }) => (
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">{label}</dt>
            <dd
              id={`summary-${id}`}
              class="kern-description-list-item__value whitespace-pre-wrap"
            >
              –
            </dd>
          </div>
        ))
      }
    </dl>
    <div>
      <a href={editPath} class="kern-link">
        <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
        Bearbeiten
      </a>
    </div>
  </div>
</div>
