---
import TruncatedValue from "./TruncatedValue.astro";

interface Props {
  title: string;
  items: { key: string; value?: string }[];
}
const { title, items } = Astro.props;
---

<div class="kern-summary">
  <div class="kern-summary__header">
    <p class="kern-title">{title}</p>
  </div>
  <div class="kern-summary__body">
    <dl class="kern-description-list">
      {
        items.map(({ key, value }) => {
          const strValue = value?.toString();
          return (
            <div class="kern-description-list-item">
              <dt class="kern-description-list-item__key">{key}</dt>
              <dd class="kern-description-list-item__value">
                {strValue ? <TruncatedValue value={strValue} /> : "–"}
              </dd>
            </div>
          );
        })
      }
    </dl>
    <div>
      <button type="button" class="kern-link">
        <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
        Bearbeiten
      </button>
    </div>
  </div>
</div>
