---
interface Props {
  title: string;
  editPath: string;
  items: { id: string; label: string }[];
}
const { title, editPath, items } = Astro.props;
---

<div class="kern-summary">
  <div class="kern-summary__header">
    <p class="kern-title">{title}</p>
  </div>
  <div class="kern-summary__body">
    <dl class="kern-description-list">
      {
        items.map(({ id, label }) => (
          <div class="kern-description-list-item">
            <dt class="kern-description-list-item__key">{label}</dt>
            <dd
              class="kern-description-list-item__value"
              x-data="{ expanded: false, overflows: false }"
              x-init="overflows = $refs.content.textContent.trim().length > 500"
            >
              <span
                id={`summary-${id}`}
                x-ref="content"
                class="whitespace-pre-wrap"
                x-bind:class="expanded ? '' : 'line-clamp-6'"
              >
                –
              </span>
              <button
                x-show="overflows"
                x-cloak
                x-on:click="expanded = !expanded"
                type="button"
                class="kern-link mt-1 inline-block text-sm"
                x-text="expanded ? '[einklappen]' : '[ausklappen]'"
              />
            </dd>
          </div>
        ))
      }
    </dl>
    <div>
      <a href={editPath} class="kern-link">
        <span class="kern-icon kern-icon--edit" aria-hidden="true"></span>
        Bearbeiten
      </a>
    </div>
  </div>
</div>
