.kern-badge {
  &.interactive[data-inactive="true"] {
    opacity: 0.4;
  }
}
.kern-badge--gemerkte_werkzeuge,
.kern-badge--seite {
  border: 1px solid #000000;
  color: #000000;
}
.kern-badge--methode {
  background-color: #e6fba2;
  border: 1px solid #5d7200;
  --kern-color-layout-text-default: #3d4d00;
}
.kern-badge--tool {
  background-color: #d5f6ff;
  border: 1px solid #051d91;
  --kern-color-layout-text-default: #051d91;
}
.kern-badge--leitfaden {
  background-color: #fffdb2;
  border: 1px solid #8f7400;
  --kern-color-layout-text-default: #645000;
}
.kern-badge--ressource {
  background-color: #e5cbf4;
  border: 1px solid #8412af;
  --kern-color-layout-text-default: #8412af;
}
