@layer theme, base, utilities;

/* KERN UX */
@import "@kern-ux/native/dist/fonts/fira-sans.css" layer(base);
@import "@kern-ux/native/dist/kern.css" layer(base);

/* Tailwind without preflight (normalize) */
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* use the KERN UX theme */
@import "@digitalservicebund/kern-ux-tailwind-theme/theme.css" layer(theme);

/* disable Tailwind's container */
@source not inline("container");

@theme {
  --color-*: initial;

  --color-zfl-main20: #e3e6f2;
  --color-zfl-main80: #36349d;

  --section-spacing-default: 80px;
}

@layer base {
  body {
    margin: 0;
  }

  *,
  ::before,
  ::after {
    border-color: var(--kern-color-layout-border);
  }
}

@layer utilities {
  .mx-auto {
    margin-inline: auto;
  }
  .container {
    max-width: 960px;
    margin-inline: auto;
  }

  .list-unstyled {
    @apply p-0 [&_li]:list-none [&_ul]:p-0;
  }
}
