@layer theme, base, utilities;

/* KERN UX */
@import "@kern-ux/native/dist/fonts/fira-sans.css" layer(base);
@import "@kern-ux/native/dist/kern.css" layer(base);
@source "@kern-ux/native/dist/kern.css";

/* Tailwind without preflight (normalize) */
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* use the KERN UX theme */
@import "@digitalservicebund/kern-ux-tailwind-theme/theme.css" layer(theme);

/* disable Tailwind's container */
@source not inline("container");

@theme {
  --color-zfl-main20: #e3e6f2;
  --color-zfl-main80: #36349d;

  --section-spacing-default: 80px;
}

@layer base {
  body {
    margin: 0;
  }
}

@layer utilities {
  .mx-auto {
    margin-inline: auto;
  }
  .container {
    max-width: 960px;
    margin-inline: auto;
  }
}

/* :root {
  --color-zfl-main20: #e3e6f2;
  --color-zfl-main80: #36349d;

  --section-spacing-default: 80px;
} */
