.kern-tabs {
  display: flex;
  flex-wrap: wrap;
}

.kern-tabs > *:not(.kern-tabs__header) {
  display: none;
}

.kern-tabs--navi .kern-tabs__header {
  flex-basis: 5em;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
  text-wrap: nowrap;
}

.kern-tabs__control {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.kern-tabs__header {
  cursor: pointer;
  color: var(--kern-action-default, #1a3da5);
  display: inline-block;
  padding: 10px 20px;

  font-family: var(--kern-text-family-default, "Fira Sans");
  font-size: var(--kern-text-size-heading-small, 18px);
  font-style: normal;
  font-weight: var(--kern-text-weight-semi-bold, 600);
  line-height: var(--kern-text-line-height-heading-small, 24px); /* 133.333% */
  letter-spacing: var(--kern-text-spacing-paragraph-none, 0px);
}

.kern-tabs__header:hover {
  background: light-dark(rgba(26, 61, 165, 0.08), rgba(146, 171, 223, 0.12));
}

.kern-tabs__header:has(:focus-visible) {
  position: relative;
  z-index: 1;
  outline: 0;
  box-shadow:
    0 0 0 2px var(--kern-action-on-default),
    0 0 0 4px var(--kern-action-focus-border-inside),
    0 0 0 6px var(--kern-action-focus-border-outside);
}

.kern-tabs__header:has(.kern-tabs__control:checked) {
  background: light-dark(rgba(26, 61, 165, 0.08), rgba(146, 171, 223, 0.12));
  color: var(--kern-action-default, #1a3da5);
  border-bottom: 3px solid var(--kern-action-default, #1a3da5);
}

.kern-tabs__header:has(.kern-tabs__control:checked) + .kern-tabs__content {
  border-top: var(--kern-border-light, 1px) solid
    var(--kern-layout-divider, #c1c5d6);
  order: 99;
  display: block;
  width: 100%;

  padding: var(--kern-space-default, 16px) var(--kern-space-tiny, 4px)
    var(--kern-space-large, 24px) var(--kern-space-tiny, 4px);
  color: var(--kern-layout-text, #171a2b);
  font-family: var(--kern-text-family-default, "Fira Sans");
  font-size: var(--kern-text-size-body-default, 18px);
  font-style: normal;
  font-weight: var(--kern-text-weight-regular, 400);
  line-height: var(--kern-text-line-height-body-default, 24px);
  letter-spacing: var(--kern-0, 0px);
}

@media screen and (max-width: 767px) {
  .kern-tabs:not(.kern-tabs--navi)[dir="rtl"] {
    text-align: left;
  }

  .kern-tabs:not(.kern-tabs--navi)[dir="rtl"] .kern-tabs__header {
    flex-direction: row-reverse;
  }

  .kern-tabs:not(.kern-tabs--navi) .kern-tabs__header {
    padding: var(--kern-space-default, 16px) var(--kern-space-tiny, 4px);
    display: flex;
    align-items: center;
    width: 100%;
    border-top: var(--kern-border-light, 1px) solid
      var(--kern-layout-divider, #c1c5d6);
  }

  .kern-tabs:not(.kern-tabs--navi)
    .kern-tabs__header:has(.kern-tabs__control:checked) {
    border-bottom: none;
    background: none;
  }

  .kern-tabs:not(.kern-tabs--navi)
    .kern-tabs__header:has(.kern-tabs__control:checked):hover {
    background: light-dark(rgba(26, 61, 165, 0.08), rgba(146, 171, 223, 0.12));
  }

  .kern-tabs:not(.kern-tabs--navi)
    .kern-tabs__header:has(.kern-tabs__control:checked)
    + .kern-tabs__content {
    border-top: none;
    order: unset;
    display: block;
    padding: var(--kern-space-none, 0px) var(--kern-space-tiny, 4px)
      var(--kern-space-large, 24px) var(--kern-space-tiny, 4px);
  }

  .kern-tabs:not(.kern-tabs--navi) .kern-tabs__header:last-of-type {
    border-bottom: var(--kern-border-light, 1px) solid
      var(--kern-layout-divider, #c1c5d6);
  }

  .kern-tabs:not(.kern-tabs--navi)
    .kern-tabs__header:last-of-type
    + .kern-tabs__content {
    border-bottom: var(--kern-border-light, 1px) solid
      var(--kern-layout-divider, #c1c5d6);
  }
}
