/* https://pagefind.app/docs/css-variables/ */

:root {
  /* Colors */
  --pf-text: var(--kern-color-layout-text-default);
  --pf-text-secondary: var(--kern-color-layout-text-muted);
  --pf-text-muted: var(--kern-color-layout-text-muted);
  --pf-border: var(--kern-color-layout-border);
  --pf-outline-focus: var(--color-cosmic-blue-base);
  --pf-mark: var(--kern-color-layout-text-default);
  --pf-skeleton: var(--color-lavender-200);

  /* Typography */
  --pf-font: var(--kern-typography-font-family-default);

  /* Sizing */
  --pf-input-font-size: var(--kern-typography-font-size-static-medium);
  --pf-input-height: 43px;
  --pf-result-title-font-size: var(--kern-typography-font-size-static-medium);
  --pf-result-excerpt-font-size: var(--kern-typography-font-size-static-small);
  --pf-results-gap: var(--kern-metric-space-default);
  --pf-summary-font-size: var(--kern-typography-font-size-static-small);

  /* Results layout */
  --pf-border-radius: var(--kern-metric-border-radius-default, 4px);

  /* Modal */
  --pf-modal-max-width: 720px;

  :is(*, #\#):is(*, #\#) :is([class^="pf-"]) {
    -webkit-font-smoothing: antialiased;
  }

  :is(*, #\#):is(*, #\#):is(*, #\#) dialog.pf-modal {
    border-radius: var(--kern-metric-border-radius-default, 4px);
  }

  :is(*, #\#):is(*, #\#):is(*, #\#) .pf-trigger-text {
    font-size: var(--kern-typography-font-size-static-medium);
    font-family: var(--kern-typography-font-family-default);
  }

  :is(*, #\#):is(*, #\#):is(*, #\#) .pf-result-excerpt {
    white-space: normal;
    mark {
      background-color: var(--kern-color-feedback-success-background);
    }
  }
  :is(*, #\#):is(*, #\#):is(*, #\#) .pf-keyboard-hint,
  :is(*, #\#):is(*, #\#):is(*, #\#) .pf-input-clear,
  :is(*, #\#):is(*, #\#):is(*, #\#) .pf-keyboard-key {
    font-size: var(--kern-typography-font-size-static-small);
  }
  :is(*, #\#):is(*, #\#):is(*, #\#) .pf-keyboard-key {
    height: 24px;
  }
  :is(*, #\#):is(*, #\#):is(*, #\#) .pf-modal-footer {
    padding: var(--kern-metric-space-default);
  }
  :is(*, #\#):is(*, #\#):is(*, #\#) .pf-modal-body .pf-summary {
    margin: var(--kern-metric-space-small) 0;
  }
}
