---
import Link from "@/components/Link.astro";
import { routes } from "@/config/routes.ts";
import { isStaging } from "@/config/stage";
import SideNavLayout from "@/layouts/SideNavLayout.astro";

if (!isStaging) {
  return Astro.redirect("/404", 302);
}

export const frontmatter = {
  title: "Über das Zentrum für Legistik",
  sitemap: true,
  hasSidebarNav: true,
};
---

<SideNavLayout title={frontmatter.title}>
  <section class="space-y-8">
    <h1>{frontmatter.title}</h1>
    <Link class="block" href={routes.ueberUns.children.zahlenUndFakten.path}
      >Zahlen und Fakten</Link
    >
    <Link class="block" href={routes.ueberUns.children.daranArbeitenWir.path}
      >Daran arbeiten wir</Link
    >
  </section>
</SideNavLayout>
