---

---

<!-- Form Step 1 -->
<div class="flex flex-col gap-32" x-data="{open: false}">
  <div class="flex flex-col gap-16">
    <h2 class="mt-0">Allgemeine Angaben</h2>
  </div>

  <div class="kern-form-input">
    <label class="kern-label" for="arbeitstitel">
      Arbeitstitel des Vorhabens
    </label>
    <input
      class="kern-form-input__input"
      id="arbeitstitel"
      type="text"
      aria-required="true"
      name="arbeitstitel"
      x-model="form.arbeitstitel"
    />
  </div>

  <div class="kern-form-input">
    <label class="kern-label" for="aktenzeichen"> Aktenzeichen </label>
    <div class="kern-hint" id="aktenzeichen-hint">
      Falls unklar, vorläufige Kennung eintragen
    </div>
    <input
      class="kern-form-input__input"
      id="aktenzeichen"
      type="text"
      aria-describedby="aktenzeichen-hint"
      name="aktenzeichen"
      x-model="form.aktenzeichen"
    />
  </div>

  <div class="flex gap-32">
    <div class="kern-form-input flex-1">
      <label class="kern-label" for="ressort"> Federführendes Ressort </label>
      <input
        class="kern-form-input__input"
        id="ressort"
        type="text"
        name="ressort"
        x-model="form.ressort"
      />
    </div>
    <div class="kern-form-input flex-1">
      <label class="kern-label" for="referat"> Referat </label>
      <input
        class="kern-form-input__input"
        id="referat"
        type="text"
        name="referat"
        x-model="form.referat"
      />
    </div>
  </div>
</div>
