---

---

<!-- Form Step 2 -->
<div class="flex flex-col gap-32">
  <div class="flex flex-col gap-16">
    <h2 class="mt-0">Kontext & Genese</h2>
  </div>

  <div class="kern-form-input">
    <label class="kern-label" for="kontext">
      Beschreiben Sie den Kontext des Vorhabens
    </label>
    <textarea
      class="kern-form-input__input"
      id="kontext"
      name="kontext"
      rows="5"
      data-field="kontext"
      x-model="form.kontext"></textarea>
  </div>

  <div class="kern-form-input">
    <label class="kern-label" for="genese">
      Wie ist das Vorhaben entstanden?
    </label>
    <textarea
      class="kern-form-input__input"
      id="genese"
      name="genese"
      rows="5"
      data-field="genese"
      x-model="form.genese"
    >
    </textarea>
  </div>
</div>
