---
import { routes } from "@/config/routes";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Seite nicht gefunden">
  <main class="breakout-grid bg-lavender-base py-16 md:py-32">
    <section id="error" class="space-y-md">
      <div class="kern-label mb-16">404</div>
      <h1>Seite konnte nicht gefunden werden</h1>
      <div>
        <p>
          Es tut uns leid. Diese Seite gibt es nicht mehr oder ihr Name wurde
          geändert.
        </p>
        <ul>
          <li>
            Wenn Sie die URL direkt eingegeben haben, überprüfen Sie die
            Schreibweise.
          </li>
          <li>
            Versuchen Sie, die Seite von der Startseite aus erneut zu finden.
          </li>
        </ul>
      </div>
      <a
        id="error-back-button"
        data-testid="error-back-button"
        class="kern-btn kern-btn--primary"
        href={routes.home.path}
        data-discover="true"
      >
        <span class="kern-label">Zurück zur Startseite</span>
      </a>
    </section>
  </main>
</Layout>
