---
import { routes } from "@/config/routes";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Seite nicht gefunden">
  <main class="breakout-grid bg-lavender-base py-16 md:py-32">
    <section id="error" class="space-y-md px-16">
      <span class="ds-label-01-bold">404</span><h1
        class="ds-heading-02-reg sm:hyphens-none"
      >
        Seite konnte nicht gefunden werden
      </h1><div class="ds-subhead space-y-8">
        <p>
          Es tut uns leid. Diese Seite gibt es nicht mehr oder ihr Name wurde
          ge채ndert.
        </p>
        <ul>
          <li>
            Wenn Sie die URL direkt eingegeben haben, 체berpr체fen Sie die
            Schreibweise.
          </li>
          <li>
            Versuchen Sie, die Seite von der Startseite aus erneut zu finden.
          </li>
        </ul>
      </div>
      <a
        id="error-back-button"
        data-testid="error-back-button"
        class="link-unstyled ds-button"
        href={routes.home.path}
        data-discover="true"
      >
        <span class="ds-button-label">Zur체ck zur Startseite</span>
      </a>
    </section>
  </main>
</Layout>
