---
import SupportCard from "@/components/blocks/SupportCard.astro";
import Card from "@/components/Card.astro";
import Hero from "@/components/Hero.astro";
import Link from "@/components/Link.astro";
import begleitungenImage from "@/images/Begleitungen.png";
import trainingsImage from "@/images/Trainings.jpg";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { getImage, Image } from "astro:assets";

const trainingsImageAsset = await getImage({ src: trainingsImage });
const trainingsImageAssetURL = `url("${trainingsImageAsset.src}")`;

export const frontmatter = {
  title: "Regelungsbegleitung",
  sitemap: true,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid max-md:overflow-x-hidden">
    <Hero>
      <h1>Regelungsbegleitung</h1>
      <div class="relative mt-24 gap-32 md:flex md:flex-row">
        <div>
          <h2>Individuelle Unterstützung für Ihr Vorhaben nutzen</h2>
          <p>
            Ein in Gesetzgebungspraxis erfahrenes interdisziplinäres Team
            unterstützt Sie dabei, die Regelung praxisnah, digitaltauglich und
            bürokratiearm zu gestalten.
            <br />
            <br />
            Vertraulich und mit individuellem Fokus auf Ihr Vorhaben stehen Ihnen
            während der Begleitung Kompetenzen in Design, Nutzerforschung, IT, Produkt-
            und Prozessmanagement direkt zur Verfügung.
          </p>
          <div class="mt-16">
            <a class="btn btn-primary gap-8">
              <Icon
                name="ic:baseline-arrow-downward"
                class="inline-block h-36 w-36"
              />
              Leistungspakete anzeigen
            </a>
          </div>
        </div>
        <Image
          class="md:hero-image-overlay relative mt-10 hidden size-288 h-auto w-full md:block"
          src={begleitungenImage}
          alt=""
        />
      </div>
    </Hero>

    <section class="g-32 py-48 md:py-80">
      <h2>Ergebnisse der Zusammenarbeit</h2>
      <p>
        Wir unterstützen Sie dabei, Umsetzungsprozesse zu verstehen und
        Anforderungen an praxisnahe und bürokratiearme Regelungen umzusetzen.
        Durch Ihre Rechtsetzungs-Expertise in Kombination mit Methoden aus der
        agilen Software-Entwicklung entstehen somit praxistaugliche und
        zukunftsfähige Gesetze, die unter anderem die Potenziale der
        Digitalisierung bestmöglich ausschöpfen.
      </p>

      <div
        class="mx-auto mt-40 flex w-2xs flex-col gap-16 md:w-full md:max-w-[848px] md:flex-row md:gap-8"
      >
        <div
          class="flex h-auto w-full flex-col gap-4 md:h-[298px] md:flex-1 md:gap-32"
        >
          <Icon
            class="text-cosmic-blue-400 bg-lavender-400 h-[100px] w-[110px] flex-none px-[18px] py-[22px]"
            name="ic:twotone-account-tree"
          />

          <div class="space-y-8">
            <h3 class="ds-heading-03-bold sm:hyphens-none md:pr-32">
              Sachverhalte visualisieren
            </h3>
            <p>
              Komplexe Sachverhalte durch Prozess-Visualisierungen
              strukturieren, interne und externe Abstimmung vereinfachen
            </p>
          </div>
        </div>
        <div
          class="flex h-auto w-full flex-col gap-4 md:h-[298px] md:flex-1 md:gap-32"
        >
          <Icon
            class="text-cosmic-blue-400 bg-lavender-400 h-[100px] w-[110px] flex-none px-[18px] py-[22px]"
            name="ic:twotone-lightbulb"
          />
          <div class="space-y-8">
            <h3 class="ds-heading-03-bold sm:hyphens-none md:pr-32">
              Umsetzung mitdenken
            </h3>
            <p>
              Betroffenen-Perspektive frühzeitig identifizieren, bestehende
              Umsetzungshürden beheben
            </p>
          </div>
        </div>
        <div
          class="flex h-auto w-full flex-col gap-4 md:h-[298px] md:flex-1 md:gap-32"
        >
          <Icon
            class="text-cosmic-blue-400 bg-lavender-400 h-[100px] w-[110px] flex-none px-[18px] py-[22px]"
            name="ic:twotone-hub"
          />
          <div class="space-y-8">
            <h3 class="ds-heading-03-bold sm:hyphens-none md:pr-32">
              Prozesse strukturieren
            </h3>
            <p>
              Methodische Unterstützung nutzen, Anleitungen für Praxis- und
              Digitaltauglichkeit erhalten
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="pb-40">
      <h2>Passende Leistungspakete für Ihr Vorhaben</h2>
      <p class="pb-40">
        Hier sehen Sie unsere verschiedenen Unterstützungsangebote im Vergleich.
        Alle Angebote sind für Sie kostenfrei und werden vom BMDS finanziert.
      </p>
      <table class="block w-full table-fixed md:table">
        <thead class="hidden md:table-header-group">
          <tr>
            <th scope="col" class="table-header-cell md:w-[150px]">
              Kriterien
            </th>
            <th scope="col" class="table-header-cell md:w-[235px]">
              Paket S
            </th>
            <th scope="col" class="table-header-cell md:w-[235px]">
              Paket M
            </th>
            <th scope="col" class="table-header-cell md:w-[235px]">
              Paket L
            </th>
          </tr>
        </thead>

        <tbody class="block md:table-row-group">
          <tr class="block bg-white md:table-row">
            <td
              class="table-body-cell block w-full font-bold md:table-cell md:w-[150px]"
            >
              Fokus
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              Punktuelle Unterstützung bei Ihrer Fragestellung
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              Vertiefte Analyse Ihres Vorhabens
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              Langfristige Begleitung des Gesetzgebungsprozesses
            </td>
          </tr>

          <tr class="bg-lavender-200 block md:table-row">
            <td
              class="table-body-cell block w-full font-bold md:table-cell md:w-[150px]"
            >
              Dauer
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              1 gemeinsame Arbeitssitzung
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              ca. 4 Wochen
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              Ab 5 Wochen
            </td>
          </tr>

          <tr class="block bg-white md:table-row">
            <td
              class="table-body-cell block w-full font-bold md:table-cell md:w-[150px]"
            >
              Team
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              <div class="mb-1">1–2 Expert:innen aus:</div>
              <ul class="ml-5 list-disc space-y-1">
                <li>Service Design</li>
                <li>Nutzerforschung</li>
              </ul>
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              <div class="mb-1">3–4 Expert:innen aus:</div>
              <ul class="ml-5 list-disc space-y-1">
                <li>Service Design</li>
                <li>Nutzerforschung</li>
                <li>Softwareentwicklung</li>
                <li>Produktmanagement</li>
                <li>Transformationsmanagement</li>
              </ul>
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              <div class="mb-1">3–4 Expert:innen aus:</div>
              <ul class="ml-5 list-disc space-y-1">
                <li>Service Design</li>
                <li>Nutzerforschung</li>
                <li>Softwareentwicklung</li>
                <li>Produktmanagement</li>
                <li>Transformationsmanagement</li>
              </ul>
            </td>
          </tr>

          <tr class="bg-lavender-200 block md:table-row">
            <td
              class="table-body-cell block w-full font-bold md:table-cell md:w-[150px]"
            >
              Zeitpunkt
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              Individuell nach Bedarf
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              Konzept- bis Entwurfsphase
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              Ab Start der Initiative
            </td>
          </tr>

          <tr class="block bg-white md:table-row">
            <td
              class="table-body-cell block w-full font-bold md:table-cell md:w-[150px]"
            >
              Tätigkeit (Beispiele)
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              <ul class="ml-5 list-disc space-y-1">
                <li>Umsetzungsperspektive besser verstehen</li>
                <li>gemeinsam visualisieren</li>
                <li>technische Fragen beantworten</li>
              </ul>
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              <ul class="ml-5 list-disc space-y-1">
                <li>
                  Umsetzungsperspektive auf technischer, organisatorischer und
                  rechtlicher Ebene durchdenken
                </li>
                <li>technische Lösungsideen entwickeln</li>
                <li>Machbarkeit validieren</li>
              </ul>
            </td>
            <td class="table-body-cell block w-full md:table-cell md:w-[235px]">
              <ul class="ml-5 list-disc space-y-1">
                <li>Gemeinsame Analyse</li>
                <li>Unterstützung bei Workshops und Hausabstimmungen</li>
                <li>moderierter Austausch mit Umsetzungsakteuren</li>
                <li>Evaluation von Lösungen</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="bg-lavender-base breakout py-80">
      <SupportCard />
    </section>
    <section
      class="breakout bg-cover bg-center py-80"
      style={{ backgroundImage: trainingsImageAssetURL }}
    >
      <Card>
        <h2>
          Praxisbeispiel: Einsatz eines interdisziplinären Kompetenzteams für
          das Stromsteuerrecht
        </h2>
        <p>
          „Die gründliche Analyse von Vollzugsprozessen hat uns geholfen, das
          Zusammenspiel zwischen den Regelungen und der Administration besser zu
          verstehen und so den digitalen Vollzug zu gestalten.“
        </p>
        <Link
          href="https://digitalcheck.bund.de/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht"
        >
          Mehr erfahren
        </Link>
      </Card>
    </section>
  </main>
</Layout>; ---
