---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import MultiStepForm from "@components/exampleForm/MultiStepForm.tsx";

export const frontmatter = {
  sitemap: false,
};
---

<Layout title="Formular">
  <main class="breakout-grid">
    <Hero>
      <h1 class="kern-heading-x-large">Test-Formular</h1>
    </Hero>
    <MultiStepForm client:only="react" />
  </main>
</Layout>
