---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

import { Content as Vorteile } from "./_index/vorteile.md";
import Card from "../components/Card.astro";
import Heading from "../components/text/Heading.astro";
import Banner from "../components/Banner.astro";
import Link from "../components/text/Link.astro";
import { Icon } from "astro-icon/components";
import Title from "../components/text/Title.astro";
---

<Layout title="">
  <main class="breakout-grid">
    <Hero>
      <h1 class="kern-heading-x-large">
        Bessere Rechtsetzung in allen Phasen Ihres Vorhabens
      </h1>
      <Fragment slot="subtitle"
        >Das Zentrum für Legistik unterstützt Sie bei der Ausarbeitung von
        Regelungen. Sie stellen damit sicher, dass Ihr Vorhaben
        betroffenenzentriert, praxistauglich und digital umsetzbar ist.
      </Fragment>
    </Hero>
    <Banner>
      Das Angebot befindet sich aktuell im Aufbau und wird schrittweise mit
      Ihnen zusammen weiterentwickelt.
    </Banner>
    <div class="markdown py-40">
      <Vorteile />
    </div>
    <section class="breakout">
      <div class="space-y-40">
        <Heading level={3}>Bereits verfügbare Angebote</Heading>
        <Card>
          <Icon slot="header" name="material-symbols:widgets-outline" />
          <Title level={3} slot="header">
            Interdisziplinäre Expertise für Ihr Regelungsvorhaben
          </Title>
          <p class="kern-body">
            Wir begleiten Sie mit einem interdisziplinärem Kompetenzteam. Sie
            erhalten dadurch ein umfassendes Verständnis von Umsetzungsprozessen
            und gestalten Ihr Vorhaben praxisnah und bürokratiearm.
          </p>
          <Link href="/begleitungen"
            >Mehr Informationen zu interdisziplinären Kompetenzteams</Link
          >
        </Card>
        <Card>
          <Icon slot="header" name="material-symbols:fact-check-outline" />
          <Title level={3} slot="header">
            In Schulungen praktisches Wissen erlangen
          </Title>
          <p class="kern-body">
            Neue Methoden und Werkzeuge für die Rechtsetzung in
            umsetzungsorientierten Schulungen kennenlernen.
          </p>
          <Link href="/schulungen">Mehr Informationen zu Schulungen</Link>
        </Card>
      </div>
    </section>
    <section>
      <Card
        ><Icon
          slot="header"
          name="material-symbols:phone-enabled-outline"
          style="transform: scaleX(-100%);"
        />
        <Title level={3} slot="header">Kontaktieren Sie uns</Title>
      </Card>
    </section>
  </main>
</Layout>

<style>
  section {
    padding-block: 40px;
    .kern-card {
      background: var(--color-zfl-main20);
    }
  }

  section:nth-child(2n) {
    background: var(--color-zfl-main20);
    .kern-card {
      background: white;
    }
  }

  [data-icon] {
    /* see https://www.astroicon.dev/guides/styling/ */
    width: 80px;
    height: 80px;
    color: var(--color-zfl-main80);
  }
</style>
