---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";

import { Content as Vorteile } from "./_index/vorteile.md";
import Card from "@components/Card.astro";
import Banner from "@components/Banner.astro";
import { Icon } from "astro-icon/components";
import SupportCard from "@components/SupportCard.astro";

export const frontmatter = {
  title: "Zentrum für Legistik",
  sitemap: true,
  order: 1,
};
---

<Layout title="">
  <main class="breakout-grid">
    <Hero>
      <h1>Bessere Rechtsetzung in allen Phasen Ihres Vorhabens</h1>
      <p slot="subtitle">
        Das Zentrum für Legistik unterstützt Sie bei der Ausarbeitung von
        Regelungen. Sie stellen damit sicher, dass Ihr Vorhaben
        betroffenenzentriert, praxistauglich und digital umsetzbar ist.
      </p>
    </Hero>
    <Banner>
      <p class="mb-0 max-w-full">
        Das Angebot befindet sich aktuell im Aufbau und wird schrittweise mit
        Ihnen zusammen weiterentwickelt.
      </p>
      <a class="text-link" href="/daran-arbeiten-wir">Mehr dazu</a>
    </Banner>
    <div class="markdown py-80">
      <Vorteile />
    </div>
    <section class="breakout py-40 md:py-80">
      <div class="space-y-40">
        <h2>Bereits verfügbare Angebote</h2>
        <Card>
          <Icon
            class="text-zfl-main80 hidden size-80 sm:block"
            name="material-symbols:widgets-outline"
            slot="icon"
          />
          <h3>Interdisziplinäre Expertise für Ihr Regelungsvorhaben</h3>
          <p class="kern-body">
            Wir begleiten Sie mit einem interdisziplinärem Kompetenzteam. Sie
            erhalten dadurch ein umfassendes Verständnis von Umsetzungsprozessen
            und gestalten Ihr Vorhaben praxisnah und bürokratiearm.
          </p>
          <a href="/begleitungen"
            >Mehr Informationen zu interdisziplinären Kompetenzteams</a
          >
        </Card>
        <Card>
          <Icon
            name="material-symbols:fact-check-outline"
            class="text-zfl-main80 hidden size-80 sm:block"
            slot="icon"
          />
          <h3>In Schulungen praktisches Wissen erlangen</h3>
          <p class="kern-body">
            Neue Methoden und Werkzeuge für die Rechtsetzung in
            umsetzungsorientierten Schulungen kennenlernen.
          </p>
          <a href="/schulungen">Mehr Informationen zu Schulungen</a>
        </Card>
      </div>
    </section>
    <section class="py-40 md:py-80">
      <SupportCard look="gray" />
    </section>
  </main>
</Layout>

<style>
  section:nth-child(2n) {
    background: var(--color-zfl-main20);
  }
</style>
