---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Card from "@/components/Card.astro";
import Banner from "@/components/Banner.astro";
import { Icon } from "astro-icon/components";
import SupportCard from "@/components/blocks/SupportCard.astro";
import { routes } from "@/config/routes";

export const frontmatter = {
  title: "Zentrum für Legistik",
  sitemap: true,
};
---

<Layout title="">
  <main class="breakout-grid">
    <div
      id="vorhaben-banner"
      class="breakout bg-[#D5F6FF] py-24"
      x-data="{ showBanner: true }"
      x-show="showBanner"
    >
      <div class="mb-8 flex w-full max-w-[850px] items-center justify-between">
        <div class="flex items-center gap-16">
          <Icon name="ic:twotone-flag" class="text-2xl text-[#006685]" />
          <p class="kern-title m-0 p-0">
            Starten Sie Ihr erstes Vorhaben mit der neuen Frühphase
          </p>
        </div>
        <button
          class="increase-tap-area text-2xl text-[#006685] hover:opacity-75"
          @click="showBanner = false"
        >
          <Icon name="ic:baseline-clear" />
        </button>
      </div>
      <p class="kern-body">
        Lernen Sie jetzt über die neue Frühphase für Handlungsvorhaben und
        starten Sie ihr erstes Vorhaben – Schritt für Schritt angeleitet. <a
          href={routes.vorhaben.path}>Zur Frühphase</a
        >
      </p>
    </div>
    <Hero look="blue">
      <h1>Bessere Rechtsetzung in allen Phasen Ihres Vorhabens</h1>
      <p slot="subtitle">
        Das Zentrum für Legistik unterstützt Sie bei der Ausarbeitung von
        Regelungen. Sie stellen damit sicher, dass Ihr Vorhaben
        betroffenenzentriert, praxistauglich und digital umsetzbar ist.
      </p>
    </Hero>
    <Banner>
      <p class="mb-0 max-w-full">
        Das Angebot befindet sich aktuell im Aufbau und wird schrittweise mit
        Ihnen zusammen weiterentwickelt.
      </p>
      <a href={routes.ueber_dasIstNeu.path}>Mehr dazu</a>
    </Banner>
    <section>
      <h2>Vorteile des Angebots für Sie</h2>
      <ul>
        <li>Operative Hilfe beim Visualisieren</li>
        <li>
          Unterstützung beim Erheben der Betroffenen-Bedürfnisse und
          Umsetzungshürden
        </li>
        <li>Konkrete Formulierungsbeispiele und praktische Vorlagen</li>
        <li>Vereinheitlichung von Checks und Arbeitshilfen</li>
        <li>Praxisnahe Schulungen</li>
        <li>Vernetzung und Austausch untereinander</li>
      </ul>
      <p>
        <strong>Gut zu wissen:</strong> Das Zentrum für Legistik ist ein Bestandteil
        des Handlungsfelds „Bessere Rechtsetzung“ in der Modernisierungsagenda.
      </p>
    </section>
    <section class="breakout bg-lavender-base">
      <div class="space-y-md">
        <h2>Bereits verfügbare Angebote</h2>
        <Card>
          <Icon name="ic:twotone-widgets" slot="icon" />
          <h3>Interdisziplinäre Expertise für Ihr Regelungsvorhaben</h3>
          <p>
            Wir begleiten Sie mit einem interdisziplinärem Kompetenzteam. Sie
            erhalten dadurch ein umfassendes Verständnis von Umsetzungsprozessen
            und gestalten Ihr Vorhaben praxisnah und bürokratiearm.
          </p>
          <a href={routes.begleitungen.path}
            >Mehr Informationen zu interdisziplinären Kompetenzteams</a
          >
        </Card>
        <Card>
          <Icon name="ic:twotone-fact-check" slot="icon" />
          <h3>In Schulungen praktisches Wissen erlangen</h3>
          <p>
            Neue Methoden und Werkzeuge für die Rechtsetzung in
            umsetzungsorientierten Schulungen kennenlernen.
          </p>
          <a href={routes.schulungen.path}>Mehr Informationen zu Schulungen</a>
        </Card>
      </div>
    </section>
    <section>
      <SupportCard look="gray" />
    </section>
  </main>
</Layout>
