---
import Layout from "@layouts/Layout.astro";
import { getAllRoutes } from "@utils/routesHelper";

const pages = await getAllRoutes();
---

<Layout title="Sitemap">
  <main class="breakout-grid space-y-80 pb-40 md:pb-80">
    <h1>Sitemap</h1>

    <ul>
      {
        pages.map((page) => (
          <li>
            <a class="text-link" href={page.url}>
              {page.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
