---
import Link from "@components/Link.astro";
import Layout from "@layouts/Layout.astro";
import { getAllRoutes } from "@utils/routesHelper";

const pages = await getAllRoutes();
---

<Layout title="Sitemap">
  <main class="breakout-grid space-y-80 py-40 md:py-80">
    <h1>Sitemap</h1>

    <ul>
      {
        pages.map((page) => (
          <li>
            <Link href={page.url}>{page.title}</Link>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
