---
import Hero from "@/components/Hero.astro";
import { allRoutes } from "@/config/routes";
import Layout from "@/layouts/Layout.astro";

export const frontmatter = {
  title: "Sitemap",
  sitemap: false,
};
---

<Layout title="Sitemap">
  <main class="breakout-grid">
    <Hero>
      <h1>Sitemap</h1>
    </Hero>
    <section>
      <ul>
        {
          allRoutes
            .filter((route) => route.sitemap && !route.isStagingOnly)
            .map((route) => (
              <li>
                <a href={route.path}>{route.title}</a>
              </li>
            ))
        }
      </ul>
    </section>
  </main>
</Layout>
