---
import Hero from "@/components/Hero.astro";
import Link from "@/components/Link.astro";
import Layout from "@/layouts/Layout.astro";
import { nestedRoutes } from "@/utils/routesHelper";

const routes = nestedRoutes.toSorted(
  (a, b) => (a.order ?? 0) - (b.order ?? 0) || a.title.localeCompare(b.title),
);
---

<Layout title="Sitemap">
  <main class="breakout-grid">
    <Hero>
      <h1>Sitemap</h1>
    </Hero>
    <section>
      <ul>
        {
          routes.map((page) => (
            <>
              <li>
                <Link href={page.url}>{page.title}</Link>
              </li>
              {page.children && (
                <ul>
                  {page.children.map((child) => (
                    <li>
                      <Link href={child.url}>{child.title}</Link>
                    </li>
                  ))}
                </ul>
              )}
            </>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
