---
import Hero from "@/components/Hero.astro";
import Link from "@/components/Link.astro";
import BreakoutLayout from "@/layouts/BreakoutLayout.astro";
import { getAllRoutes } from "@/utils/routesHelper";

const pages = await getAllRoutes();
---

<BreakoutLayout title="Sitemap">
  <Hero>
    <h1>Sitemap</h1>
  </Hero>
  <section>
    <ul>
      {
        pages.map((page) => (
          <li>
            <Link href={page.url}>{page.title}</Link>
          </li>
        ))
      }
    </ul>
  </section>
</BreakoutLayout>
