---
// file used to test whether the staging-only flag works
export const frontmatter = {
  title: "Staging-Umgebung",
  sitemap: false,
  isStagingOnly: true,
};
---

<main>
  <h1>Staging</h1>
  <p>Sie befinden sich in der Staging-Umgebung.</p>
</main>
