---
import Hero from "@/components/Hero.astro";
import { ZFL_EMAIL } from "@/config/constants";
import Layout from "@/layouts/Layout.astro";
import { mailto } from "@/utils/mailtoHelper";
import Checks from "./_Checks.astro";
import VisTools from "./_VisTools.astro";

export const frontmatter = {
  title: "Werkzeuge",
  sitemap: true,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero>
      <h1>{frontmatter.title}</h1>
      <div slot="subtitle">
        <p>
          Auf dieser Seite finden Sie hilfreiche Links zu Anleitungen und
          Hilfsmittel, die Sie bei der Regelungsarbeit unterstützen.
        </p>
        <p>
          Unterschiedliche Checks und Arbeitshilfen (wie z. B. der <a
            href="https://digitalcheck.bund.de/">Digitalcheck</a
          >,
          <a href="https://www.gleichstellungs-check.de/"
            >Gleichstellungscheck</a
          > oder <a href="https://jugend-check.de/">Jugendcheck</a>) zielen in
          Teilen auf die gleiche Wirkung ab: Praxis- und digitaltaugliche
          Regelungen und Bürokratierückbau. Bei der Zusammenführung diverser
          Ansätze verfolgen wir das Ziel, Ihre Regelungsarbeit einfacher und
          effizienter zu gestalten.
        </p>
        <p>
          <a
            href={mailto(
              ZFL_EMAIL.display,
              `Interesse am Thema "Konsolidierung der Instrumente"`,
            )}>Mitarbeiten an diesem Thema</a
          > (öffnet E-Mail)
        </p>
      </div>
    </Hero>

    <section>
      <div class="kern-tabs">
        <label class="kern-tabs__header">
          <input class="kern-tabs__control" type="radio" name="tabs" checked />
          Checks und Arbeitshilfen
        </label>
        <div class="kern-tabs__content"><Checks /></div>
        <label class="kern-tabs__header">
          <input class="kern-tabs__control" type="radio" name="tabs" />
          Visualisierungstools
        </label>
        <div class="kern-tabs__content"><VisTools /></div>
      </div>
    </section>
  </main>
</Layout>
