<article class="kern-card">
  <div class="kern-card__container">
    <header
      class="kern-card__header flex flex-row items-center gap-kern-space-default"
    >
      <slot name="header" />
    </header>
    <div class="kern-card__body">
      <slot />
    </div>
    <div class="kern-card__footer">
      <slot name="footer" />
    </div>
  </div>
</article>
