---
import type { HTMLAttributes } from "astro/types";
import { tv, type VariantProps } from "tailwind-variants";

interface Props extends HTMLAttributes<"div">, VariantProps<typeof styles> {
  class?: string;
  wrapperClass?: string;
}

export const styles = tv({
  base: "flex scroll-my-40 flex-row gap-32 rounded-lg bg-white px-16 py-40 sm:px-80",
  variants: {
    look: {
      gray: "bg-zfl-main20",
    },
  },
});

const { class: className, wrapperClass, look, ...attrs } = Astro.props;
---

<div class={styles({ look, className: wrapperClass })} {...attrs}>
  <slot name="icon" />
  <div class={className}><slot /></div>
</div>
