---
import type { HTMLAttributes } from "astro/types";
import { tv, type VariantProps } from "tailwind-variants";

interface Props extends HTMLAttributes<"div">, VariantProps<typeof cardStyles> {
  contentClass?: string;
  class?: string;
}

export const cardStyles = tv({
  base: "py-md sm:px-lg scroll-my-md flex flex-row gap-32 rounded-sm bg-white px-16",
  variants: {
    look: {
      gray: "bg-lavender-base",
      lavender: "bg-lavender-400",
      blue: "bg-cosmic-blue-base text-white",
      bordered: "rounded-sm border-1 border-neutral-300",
    },
  },
});

const contentStyles = tv({
  base: "flex flex-col",
});

const iconStyle = tv({
  base: "[&_svg]:text-cosmic-blue-400 [&_svg]:size-lg shrink-0 max-sm:hidden [&_svg]:hidden [&_svg]:sm:block",
});

const { class: className, contentClass, look, ...attrs } = Astro.props;
---

<div class={cardStyles({ look, className })} {...attrs}>
  {
    Astro.slots.icon && (
      <div class={iconStyle()}>
        <slot name="icon" />
      </div>
    )
  }
  <div class={contentStyles({ class: contentClass })}><slot /></div>
</div>
