---
import { tv, type VariantProps } from "tailwind-variants";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div">, VariantProps<typeof cardStyles> {
  contentClass?: string;
  class?: string;
}

export const cardStyles = tv({
  base: "scroll-my-md flex flex-row gap-32 rounded-sm bg-white lg:gap-64",
  variants: {
    padding: {
      default: "p-16 md:p-32",
      wide: "px-64 py-56",
    },
    look: {
      gray: "bg-lavender-base",
      lavender: "bg-lavender-400",
      lightLavender: "bg-lavender-200",
      blue: "bg-cosmic-blue-base text-white",
    },
  },
  defaultVariants: {
    padding: "default",
  },
});

const contentStyles = tv({
  base: "flex flex-col",
});

const iconStyle = tv({
  base: "bg-lavender-400 [&_svg]:text-cosmic-blue-400 flex shrink-0 items-center rounded-sm px-18 py-22 max-sm:hidden [&_svg]:mx-50 [&_svg]:hidden [&_svg]:size-75 [&_svg]:sm:block [&_svg]:lg:mx-75 [&_svg]:lg:size-100",
});

const { class: className, contentClass, look, padding, ...attrs } = Astro.props;
---

<div class={cardStyles({ look, padding, className })} {...attrs}>
  {
    Astro.slots.icon && (
      <div class={iconStyle()}>
        <slot name="icon" />
      </div>
    )
  }
  <div class={contentStyles({ class: contentClass })}>
    <slot />
  </div>
</div>
