---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center gap-4"
  ><span class="text-link"><slot /></span><span
    class="material-symbols-outlined text-link no-underline">open_in_new</span
  ></a
>
