---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center gap-4"
  ><span class="text-link"><slot /></span><Icon
    name="material-symbols:open-in-new-rounded"
    class="text-link no-underline"
  />
</a>
