---
import Container from "./Container.astro";
import Link from "./text/Link.astro";
---

<footer class="border-t">
  <ul
    class="kern-container flex flex-row items-end list-unstyled gap-kern-space-x-large"
  >
    <li>
      <h3>Unterstützungsangebote</h3>
      <ul>
        <li>
          Support: <Link href="tel:015140767839">0151/40 76 78 39</Link> oder <Link
            href="support@zfl.bund.de">support@zfl.bund.de</Link
          >
        </li>
        <li><Link href="/begleitungen">Begleitungen</Link></li>
        <li><Link href="/schulungen">Schulungen</Link></li>
      </ul>
    </li>

    <li>
      <ul>
        <li><Link href="/impressum">Impressum</Link></li>
        <li><Link href="/datenschutz">Datenschutzerklärung</Link></li>
        <li><Link href="/barrierefreiheit">Barrierefreiheit</Link></li>
      </ul>
    </li>
  </ul>
</footer>
