---
interface Props {
  class?: string;
  variant?: "gray";
}
const { variant, class: className = "" } = Astro.props;
const hasSubtitle = Astro.slots.has("subtitle");

const bgClass =
  variant === "gray" ? "bg-lavendel20" : "bg-zfl-main80 text-white";
---

<div class={`breakout space-y-16 pt-56 pb-64 ${bgClass} ${className}`}>
  <slot />
  {
    hasSubtitle && (
      <div class="ds-subhead">
        <slot name="subtitle" />
      </div>
    )
  }
</div>
