---
interface Props {
  class?: string;
}
const hasSubtitle = Astro.slots.has("subtitle");
---

<div class="breakout bg-zfl-main80 space-y-16 pt-40 pb-48 text-white">
  <slot />
  {
    hasSubtitle && (
      <div class="ds-subhead">
        <slot name="subtitle" />
      </div>
    )
  }
</div>
