---
interface Props {
  class?: string;
  variant?: "gray";
}
const { variant, class: className = "" } = Astro.props;
const hasSubtitle = Astro.slots.has("subtitle");

const bgClass =
  variant === "gray" ? "bg-lavender-200" : "bg-cosmic-blue-base text-white";
---

<div class={`breakout space-y-16 pt-56 pb-64 ${bgClass} ${className}`}>
  <slot />
  {
    hasSubtitle && (
      <div class="ds-subhead">
        <slot name="subtitle" />
      </div>
    )
  }
</div>
