---
import { tv, type VariantProps } from "tailwind-variants";

interface Props extends VariantProps<typeof styles> {
  class?: string;
}

const styles = tv({
  base: "breakout space-y-16 py-80",
  variants: {
    look: {
      blue: "bg-cosmic-blue-base text-white",
      gray: "bg-lavender-200",
    },
  },
  defaultVariants: {
    look: "gray",
  },
});

const { class: className, look } = Astro.props;
const hasSubtitle = Astro.slots.has("subtitle");
---

<div class={styles({ look, className })}>
  <slot />
  {
    hasSubtitle && (
      <div class="ds-subhead">
        <slot name="subtitle" />
      </div>
    )
  }
</div>
