<details class="kern-accordion">
  <summary class="kern-accordion__header">
    <span class="kern-title">
      <slot name="header" />
    </span>
  </summary>
  <section class="kern-accordion__body">
    <slot name="body" />
  </section>
</details>
