<div class="kern-kopfzeile">
  <div class="container">
    <div class="kern-kopfzeile__content">
      <span class="kern-kopfzeile__flagge" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 16">
          <path fill="#000" d="M0 .5h24v5.333H0z"></path>
          <path fill="red" d="M0 5.833h24v5.333H0z"></path>
          <path fill="#FACA2C" d="M0 11.167h24V16.5H0z"></path>
        </svg>
      </span>
      <span class="kern-kopfzeile__label">
        Offizielle Website – Bundesrepublik Deutschland
      </span>
    </div>
  </div>
</div>
