---
interface Props {
  label: string;
  isActive?: boolean;
}
const { label, isActive = false } = Astro.props;
---

<div
  class={`flex items-center w-248 py-16 pr-16 pl-32 relative ${isActive ? "bg-lavender-base" : ""}`}
>
  {
    isActive && (
      <div class="bg-cosmic-blue-base absolute top-0 bottom-0 left-0 h-full w-[3px]" />
    )
  }
  {label}
</div>
