---
interface Props {
  label?: string;
  rows?: number;
  maxLength?: number;
}
const { label, rows = 5, maxLength } = Astro.props;
---

<div class="w-full" x-data={maxLength ? `{ count: 0 }` : undefined}>
  {label && <div>{label}</div>}
  <textarea
    class="border-cosmic-blue-base w-full border-2 p-16 outline-0 transition-shadow focus:shadow-[inset_0_0_0_2px_var(--color-cosmic-blue-base)]"
    rows={rows}
    maxlength={maxLength}
    x-on:input={maxLength ? `count = $el.value.length` : undefined}></textarea>
  {!!maxLength && <div class="text-right text-sm"><span x-text="count">0</span>/{maxLength}</div>}
</div>
