---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import RegelungsprozessFlowWithMinimap from "./_RegelungsprozessFlowWithMinimap.svelte";

export const frontmatter = {
  title: "Der Gesetzgebungsprozess",
  isStagingOnly: true,
};
---

<Layout title={frontmatter.title}>
  <main>
    <Hero class="breakout-grid">
      <h1>{frontmatter.title}</h1>
    </Hero>

    <div class="mt-lg">
      <RegelungsprozessFlowWithMinimap client:load />
    </div>
  </main>
</Layout>
