---
import { WERKZEUGE_TYPES } from "@/content.config";

interface Props {
  class?: string;
  onlyWerkzeuge?: boolean;
}

const { class: className, onlyWerkzeuge } = Astro.props;
---

<custom-modal-trigger
  class:list={[
    "flex",
    "items-center",
    "cursor-pointer",
    "select-none",
    "gap-8",
    className,
  ]}
  data-filter-types={onlyWerkzeuge && WERKZEUGE_TYPES.join(".")}
>
  <span
    class="kern-icon kern-icon--search kern-icon--default"
    aria-hidden="true"></span>
  <span class="hidden sm:block">Suche</span>
</custom-modal-trigger>

<script>
  import { getInstanceManager } from "@pagefind/component-ui";
  import type { PagefindModal } from "@pagefind/component-ui";

  // reference: https://github.com/Pagefind/pagefind/blob/main/pagefind_ui/component/components/pagefind-modal-trigger.ts
  class CustomModalTrigger extends HTMLElement {
    handleButtonClick() {
      const instance = getInstanceManager().getInstance("default");
      instance.searchFilters = this.dataset.filterTypes
        ? {
            pageType: {
              // @ts-expect-error : instance.searchFilters type doesn't know "any" operator
              any: this.dataset.filterTypes.split("."),
            },
          }
        : {};
      const modals = (instance.getUtilities("modal") || []) as PagefindModal[];
      const modal = modals.find((m) => (m as HTMLElement).isConnected);
      modal?.open();
    }
    connectedCallback() {
      this.addEventListener("click", this.handleButtonClick);
    }
  }
  customElements.define("custom-modal-trigger", CustomModalTrigger);
</script>
