---
import { twMerge } from "tailwind-merge";

interface Props {
  class?: string;
  instance?: string;
}

const { class: className, instance } = Astro.props;
---

<custom-modal-trigger
  class={twMerge(
    "flex items-center cursor-pointer select-none gap-8",
    className,
  )}
  instance={instance}
>
  <span
    class="kern-icon kern-icon--search kern-icon--default"
    aria-hidden="true"></span>
  <span class="hidden sm:block">Suche</span>
</custom-modal-trigger>

<script>
  import { getInstanceManager } from "@pagefind/component-ui";
  import type { PagefindModal } from "@pagefind/component-ui";

  class CustomModalTrigger extends HTMLElement {
    handleButtonClick() {
      const instanceName = this.getAttribute("instance") || "default";
      const instance = getInstanceManager().getInstance(instanceName);
      const modals = (instance.getUtilities("modal") || []) as PagefindModal[];
      const modal = modals.find((m) => (m as HTMLElement).isConnected);
      modal?.open();
    }

    connectedCallback() {
      this.addEventListener("click", this.handleButtonClick);
    }
  }

  if (!customElements.get("custom-modal-trigger")) {
    customElements.define("custom-modal-trigger", CustomModalTrigger);
  }
</script>
