---
import FruephaseLayout from "./_FruephaseLayout.astro";

export const frontmatter = {
  title: "10. Handlungsalternative testen",
  navLabel: "10. Handlungsalternative testen",
  navOrder: 6,
  sitemap: false,
};
---

<FruephaseLayout title={frontmatter.title} pageNumber={frontmatter.navOrder}>
  <h2>{frontmatter.title}</h2>
</FruephaseLayout>
