---
import FruephaseLayout from "./_FruephaseLayout.astro";

export const frontmatter = {
  title: "5. Problem- und Lebenslagen analysieren",
  navLabel: "5. Problem analysieren",
  navOrder: 1,
  sitemap: false,
};
---

<FruephaseLayout title={frontmatter.title} pageNumber={frontmatter.navOrder}
  ><h2>{frontmatter.title}</h2></FruephaseLayout
>
