---
import FruephaseLayout from "./_FruephaseLayout.astro";

export const frontmatter = {
  title: "11. Wirkkonzept fertigstellen (Teil der Ministervorlage)",
  navLabel: "11. Wirkkonzept fertigstellen",
  navOrder: 7,
  sitemap: false,
};
---

<FruephaseLayout title={frontmatter.title} pageNumber={frontmatter.navOrder}>
  <h2>{frontmatter.title}</h2>
</FruephaseLayout>
