---
import FruephaseLayout from "./_FruephaseLayout.astro";

export const frontmatter = {
  title: "Entwicklung von Handlungsalternativen",
  navLabel: "5. Entwicklung von Handlungsalternativen",
  sitemap: false,
  navOrder: 5,
};
---

<FruephaseLayout title={frontmatter.title} pageNumber={frontmatter.navOrder}>
  <h2>5. Entwicklung von Handlungsalternativen</h2>
</FruephaseLayout>
