---
import FruephaseLayout from "./_FruephaseLayout.astro";

export const frontmatter = {
  title: "Einbeziehung Perspektiven externer Stakeholder",
  sitemap: false,
  navOrder: 1,
};
---

<FruephaseLayout title={frontmatter.title} pageNumber={frontmatter.navOrder}>
  <h2>Einbeziehung der Perspektiven von externen Stakeholdern</h2>
</FruephaseLayout>
