---
import FruephaseLayout from "./_FruephaseLayout.astro";

export const frontmatter = {
  title: "Entwicklung von Handlungsalternativen",
  navLabel: "9. Entwicklung von Handlungsalternativen",
  sitemap: false,
  navOrder: 5,
};
---

<FruephaseLayout title={frontmatter.title} pageNumber={frontmatter.navOrder}>
  <h2>{frontmatter.navLabel}</h2>
  <div>
    <div class="columns-2">
      <p class="p-20">
        Entwerfen Sie Ideen für Handlungsalternativen, nutzen Sie hierfür die
        Ursachen- und Wirkungsketten aus der <a
          href="https://google.de"
          target="_blank">Problemanalyse</a
        > und/oder ziehen Sie ggf. Expertinnen und Experten hinzu.
      </p>
      <div class="break-inside-avoid">
        <div class="rounded-xl bg-blue-100 p-20">
          <p>
            <b>Tipp</b>
          </p>
          Denken Sie weit! Entwickeln Sie dabei zum Beispiel Lösungsoptionen für Anreize
          und Förderungen sowie für Verbote und Sanktionen. Berücksichtigen Sie dabei
          auch die Möglichkeiten aus dem Regulatorischen Instrumentenkasten.
        </div>
      </div>
    </div>
    <h3>So geht es</h3>
    <ol>
      <li>
        Sammeln Sie so viele Handlungsalternativen, wie möglich. Vorschlag:
        Nutzen Sie dazu die <a href="https://google.de" target="_blank"
          >Brainwriting-Methode</a
        >. Masse statt klasse. Streben Sie auch nicht-regulatorische
        Alternativen an.
      </li>
      <li>Erstellen Sie eine Liste.</li>
      <li>
        Suchen Sie 2–3 Handlungsalternativen aus, die einen besonderen Nutzen im
        Verhältnis zum Aufwand erwarten lassen.
      </li>
      <li>
        Beantworten Sie zunächst den Status Quo und inwiefern dieser die
        Indikatoren jeweils erfüllt.
      </li>
      <li>
        Beantworten Sie dann pro Handlungsalternative, inwiefern der Indikator
        erfüllt wird: Ja, nein, unklar. Sie können Texte dazuschreiben
      </li>
    </ol>
  </div>
</FruephaseLayout>
