---
import FruephaseLayout from "./_FruephaseLayout.astro";

export const frontmatter = {
  title: "Wirkziele definieren",
  navLabel: "4. Wirkziele",
  sitemap: false,
  navOrder: 4,
};
---

<FruephaseLayout title={frontmatter.title} pageNumber={frontmatter.navOrder}>
  <h2>4. Wirkziele definieren</h2>
</FruephaseLayout>
