---
import FruephaseLayout from "./_FruephaseLayout.astro";
import KernTable from "../_components/KernTable.astro";
import KernTableCell from "../_components/KernTableCell.astro";
import KernTableHeaderCell from "../_components/KernTableHeaderCell.astro";
import KernTableRow from "../_components/KernTableRow.astro";

export const frontmatter = {
  title: "Wirkziele definieren",
  navLabel: "8. Wirkziele",
  sitemap: false,
  navOrder: 4,
};
---

<FruephaseLayout title={frontmatter.title} pageNumber={frontmatter.navOrder}>
  <h2>{frontmatter.navLabel}</h2>
  <div>
    <div class="columns-2">
      <p></p>
      <div class="flex items-center gap-8 pb-8">
        <span
          class="kern-icon kern-icon--edit kern-icon--default"
          aria-hidden="true"
        >
        </span>
        <p><b>Aus Ihrer bisherigen Erarbeitung</b></p>
      </div>
    </div>
    <div class="columns-2">
      <div class="p-20">
        <p>
          Definieren Sie, welche Wirkung Sie erzielen möchten, um das Problem zu
          lösen. Wirkziele sollen genutzt werden um zu klären,
          <ul>
            <li>bei wem</li>
            <li>welche konkreten Verhaltens- oder Lebenslagenveränderungen</li>
            <li>bis wann erreicht werden sollen.</li>
          </ul>
        </p>
      </div>
      <div class="break-inside-avoid">
        <div class="rounded-xl bg-amber-200 p-20">
          <p><b>Einbeziehungsplan externe Stakeholder</b></p>
          <ul>
            <li>Automobilindustrie</li>
            <li>Technikhersteller</li>
            <li>Zulassungsbehörden</li>
            <li>Versicherer</li>
            <li>Fahrzeugführer und -halter</li>
          </ul>
        </div>
      </div>
    </div>
    <h3>So geht es</h3>
    <ol>
      <li>
        Legen Sie ein oder mehrere vorhabenspezifische <b>Wirkziele</b> fest. Wirkziele
        sind keine Lösungen, sondern ein angestrebter Zielzustand. Nutzen Sie dafür
        alle Teilaspekte der Problembeschreibung.
      </li>
      <li>
        Messbare <b>Indikatoren</b> festlegen → <i
          >Was zeigt uns, dass es wirkt?</i
        >
      </li>
      <li>
        <b>Erfolgsschwelle</b> definieren → <i>Ab wann ist es ein Erfolg?</i>
      </li>
      <li><b>Datengrundlage</b> festlegen → <i>Wie messen wir das?</i></li>
    </ol>
  </div>

  <div x-data="wirkzielTable">
    <KernTable
      addButtonLabel="Wirkziel hinzufügen"
      columnCount={5}
      bodyId="table-body"
    >
      <Fragment slot="header">
        <KernTableHeaderCell />
        <KernTableHeaderCell>Wirkziele</KernTableHeaderCell>
        <KernTableHeaderCell>Indikatoren</KernTableHeaderCell>
        <KernTableHeaderCell>Erfolgsschwelle</KernTableHeaderCell>
        <KernTableHeaderCell>Datengrundlage</KernTableHeaderCell>
      </Fragment>
      <Fragment slot="body">
        <KernTableRow>
          <KernTableCell>-</KernTableCell>
          <KernTableCell>
            <b>Beispiel Vollautomatisiertes Fahren:</b>
            Fahrzeugautomatisierungstechnologie kann (rechts-)sicher im deutschen
            Verkehr eingesetzt werden. Ganzes Beispiel anschauen
          </KernTableCell>
          <KernTableCell>
            Versicherer bieten KfZ-Pflichtversicherungen für h/v Fahrzeuge ohne
            (Risiko-)Aufschläge an.
          </KernTableCell>
          <KernTableCell>Ja (binär)</KernTableCell>
          <KernTableCell
            >Markterkundung/Befragung Versicherungswirtschaft</KernTableCell
          >
        </KernTableRow>

        <template x-for="(row, index) in rows" :key="index">
          <KernTableRow>
            <KernTableCell>
              <button type="button" @click="deleteRow(index)">
                <span
                  class="kern-icon kern-icon--delete kern-icon--default"
                  aria-hidden="true"></span>
              </button>
            </KernTableCell>
            <KernTableCell x-text="row.wirkziel" />
            <KernTableCell x-text="row.indikatoren" />
            <KernTableCell x-text="row.erfolgsschwelle" />
            <KernTableCell x-text="row.datengrundlage" />
          </KernTableRow>
        </template>
      </Fragment>
    </KernTable>
  </div>
</FruephaseLayout>

<script>
  import { registerDynamicTable } from "../_components/kernTableState";

  registerDynamicTable("wirkzielTable", () => ({
    wirkziel: "Neues Wirkziel",
    indikatoren: "neue Indikatoren",
    erfolgsschwelle: "neue Erfolgsschwelle",
    datengrundlage: "neue Datengrundlage",
  }));
</script>
