---
import Layout from "./Layout.astro";

import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
}>;
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class="markdown container my-40 lg:my-80">
    <slot />
  </main>
</Layout>

<style>
  @reference "../styles/global.css";

  .markdown {
    @apply space-y-16;

    address {
      font-style: normal;
      white-space: pre-line;
    }

    h2 {
      margin-top: 2.5rem;
    }

    h3 {
      margin-top: 1.5rem;
    }

    a {
      @apply text-link;
    }
  }
</style>
