---
import Layout from "./Layout.astro";

import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
}>;
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="container markdown my-40">
    <slot />
  </div>
</Layout>
