---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";

export const frontmatter = {
  title: "Steckbrief",
  sitemap: false,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero>
      <h1>Frühphase: Einordnung meiner Arbeit in den Vorhabenprozess</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
    </Hero>
    <section class="py-80">
      <h2>Frühphase und wie der Steckbrief in den Prozess einzahlt.</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
    </section>
  </main>
</Layout>
