---
import SteckbriefForm from "@/components/Steckbrief";
import Layout from "@/layouts/Layout.astro";

export const frontmatter = {
  title: "Steckbrief",
  sitemap: true,
};
---

<Layout title={frontmatter.title} fullWidth>
  <main>
    <SteckbriefForm client:only="preact" />
  </main>
</Layout>
