---
import Hero from "@/components/Hero.astro";
import SteckbriefForm from "@/components/Steckbrief";
import Layout from "@/layouts/Layout.astro";

export const frontmatter = {
  title: "Steckbrief",
  sitemap: true,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero>
      <h1>Steckbrief</h1>
    </Hero>
    <section>
      <SteckbriefForm client:only="preact" />
    </section>
  </main>
</Layout>
