---
import Card from "@/components/Card.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { buildUrl } from "@/utils/routesHelper";

export const frontmatter = {
  title: "Steckbrief",
  sitemap: true,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero>
      <h1>Steckbrief starten</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
    </Hero>

    <section class="breakout bg-lavender-base py-80">
      <h2>Wie erstellen Sie einen Steckbrief?</h2>
      <div class="mt-40 flex gap-40">
        <Card wrapperClass="w-full px-24! py-32">
          <div class="flex h-full flex-col justify-between gap-40">
            <div>
              <h3 class="font-[26px]">Wir füllen den Steckbrief für Sie aus</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>
            <div class="flex flex-col gap-8">
              <div class="flex items-center gap-8">
                <Icon
                  name="ic:twotone-people"
                  class="text-lavender-800 mr-8 h-40 w-40"
                /> ZFL Support
              </div>
              <div class="flex items-center gap-8">
                <Icon
                  name="ic:baseline-access-time"
                  class="text-lavender-800 mr-8 h-40 w-40"
                /> 2 Wochen
              </div>
              <a href={buildUrl("/steckbrief/kontakt")} class="btn-primary mt-8"
                >Kontaktieren Sie uns</a
              >
            </div>
          </div>
        </Card>
        <Card wrapperClass="w-full px-24! py-32">
          <div class="flex h-full flex-col justify-between gap-40">
            <div>
              <h3 class="font-[26px]">Sie füllen ihn selbst aus</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>
            <div class="flex flex-col gap-8">
              <div class="flex items-center gap-8">
                <Icon
                  name="ic:twotone-people"
                  class="text-lavender-800 mr-8 h-40 w-40"
                /> Ihr Referat
              </div>
              <div class="flex items-center gap-8">
                <Icon
                  name="ic:baseline-access-time"
                  class="text-lavender-800 mr-8 h-40 w-40"
                /> 1-2 Wochen
              </div>
              <a href={buildUrl("/steckbrief/prozess")} class="btn-primary mt-8"
                >Steckbrief erstellen</a
              >
            </div>
          </div>
        </Card>
      </div>
    </section>
  </main>
</Layout>
