---
import Card from "@/components/Card.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { buildUrl } from "@/utils/routesHelper";

export const frontmatter = {
  title: "Steckbrief",
  sitemap: false,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero>
      <h1>Steckbrief starten</h1>
      <p>
        Wählen Sie einer der beiden Optionen aus um den Steckbrief zu erstellen
      </p>
    </Hero>

    <section class="breakout bg-lavender-base py-80">
      <h2>Wie erstellen Sie einen Steckbrief?</h2>
      <div class="mt-40 flex gap-40">
        <Card wrapperClass="w-full px-24! py-32">
          <div class="flex h-full flex-col justify-between gap-40">
            <div>
              <h3 class="ds-heading-03-bold min-h-[2.5em]">
                Wir füllen den Steckbrief für Sie aus
              </h3>
              <p>
                Wenn Sie den Steckbrief nicht selbst ausfüllen möchten, senden
                Sie uns die vorgegebenen Stichpunkte per E-Mail.
              </p>
              <p>
                Bei Bedarf klären wir offene Fragen und schicken Ihnen den
                fertigen Steckbrief zu.
              </p>
            </div>
            <div class="flex flex-col gap-8">
              <div class="flex items-center gap-8">
                <Icon
                  name="ic:twotone-people"
                  class="text-lavender-800 mr-8 h-40 w-40"
                /> Team des Zentrums für Legistik
              </div>
              <div class="flex items-center gap-8">
                <Icon
                  name="ic:baseline-access-time"
                  class="text-lavender-800 mr-8 h-40 w-40"
                /> 2 Wochen
              </div>
              <a
                href={buildUrl("/steckbrief/kontakt")}
                class="btn btn-primary link-unstyled mt-8">Mehr erfahren</a
              >
            </div>
          </div>
        </Card>
        <Card wrapperClass="w-full px-24! py-32">
          <div class="flex h-full flex-col justify-between gap-40">
            <div>
              <h3 class="ds-heading-03-bold min-h-[2.5em]">
                Den Steckbrief selber erstellen
              </h3>
              <p>
                Wir führen Sie Schritt für Schritt durch ein Online-Formular in
                dem Sie den Kontext Ihres Vorhabens beschreiben.
              </p>
              <p>
                Im Anschluss laden Sie den Steckbrief als Word-Dokument herunter
                und versenden es an die relevanten Akteure.
              </p>
            </div>
            <div class="flex flex-col gap-8">
              <div class="flex items-center gap-8">
                <Icon
                  name="ic:twotone-people"
                  class="text-lavender-800 mr-8 h-40 w-40"
                /> Ihr Referat
              </div>
              <div class="flex items-center gap-8">
                <Icon
                  name="ic:baseline-access-time"
                  class="text-lavender-800 mr-8 h-40 w-40"
                /> 1-2 Wochen
              </div>
              <a
                href={buildUrl("/steckbrief/formular")}
                class="btn btn-primary link-unstyled mt-8"
                >Steckbrief erstellen</a
              >
            </div>
          </div>
        </Card>
      </div>
    </section>
  </main>
</Layout>
