---
interface Props {
  date: string;
  time: string;
  location: string;
}

const { date, time, location } = Astro.props;
---

<li class="max-w-a11y flex flex-col justify-between py-8 md:flex-row">
  <strong>{date}</strong>
  <span>{time}</span>
  <span>{location}</span>
</li>
