---
type Appointment = {
  date: string;
  time: string;
  location: string;
};
interface Props {
  appointments: Appointment[];
  caption: string;
}
const { appointments, caption } = Astro.props;
---

<table class="zfl-table zfl-table--striped">
  <caption class="sr-only">{caption}</caption>
  <thead class="zfl-table__head">
    <tr>
      <th>Datum</th>
      <th>Uhrzeit</th>
      <th>Ort</th>
    </tr>
  </thead>
  <tbody class="zfl-table__body">
    {
      appointments.map((appointment) => (
        <tr class="[&_td]:pr-16 [&_td]:pb-8">
          <td>{appointment.date}</td>
          <td>{appointment.time}</td>
          <td>{appointment.location}</td>
        </tr>
      ))
    }
  </tbody>
</table>
