---
import { getSectionLinks } from "@/config/routes";
import { twMerge } from "tailwind-merge";

const { pathname } = Astro.url;
const sectionLinks = getSectionLinks(pathname);
---

{
  sectionLinks.length > 0 && (
    <nav
      aria-label="Seitenleistennavigation"
      class="bg-lavender-200 p-16 max-lg:hidden border-r-2 border-lavender-base"
    >
      <ul class="list-unstyled space-y-8 sticky top-16">
        {sectionLinks.map((link) => (
          <li class="text-sm">
            <a
              href={link.path}
              aria-current={pathname === link.path ? "page" : undefined}
              class={twMerge(
                "block rounded-xl px-16 py-8 no-underline",
                pathname === link.path
                  ? "bg-cosmic-blue-base font-semibold text-white"
                  : "hover:bg-white",
              )}
            >
              {link.title}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}
